#content {
  background-color: orange;
  margin: 5%;
  padding: 20px;
}

#menu ul {
  list-style-type: none;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  text-decoration: none;
  padding: 5px;
}

#menu ul li a:hover {
  background-color: brown;
  color: white;
}
